<div id="page-container">
    <article>
        <h1>This is the body</h1>
        <p>
            <img src="http://lorempixel.com/g/400/400/cats" width="400" height="400" class="left">
            Nostra habitant velit ridiculus montes. Gravida tristique euismod nisl nullam nec libero, elit natoque euismod venenatis posuere convallis vitae, aenean vulputate, purus platea posuere euismod mollis ultrices diam feugiat, mattis massa nisl sapien integer praesent Fames at nullam habitasse cubilia pulvinar urna. Lobortis pulvinar neque conubia lectus nonummy. Ultrices tempus torquent litora quisque nec, mattis augue praesent facilisi porttitor praesent quis mollis cum accumsan gravida eros diam volutpat.
        </p>
    </article>
</div>
